.body {
    width: 850px;
    margin: 24px auto 0;
    padding: 30px 15px 30px 15px;
    background: #f2f2f2;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width: 1050px) {
    .body {
        margin-left: 100px;
    }
}

.section-header{
    text-align: left;
    font-size: 11px;
    color: #f60;
    font-weight: 600;
    margin: 0;
    padding: 6px 0;
}
