.my-carousel {
    width: 820px;
    margin: 0;
    display: flex;
    flex-direction: row;
    background-color: white;
    overflow: hidden;
}

.my-carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.my-carousel li {
    padding: 6px;
}

.my-carousel-item {
    min-width: 108px;
    text-align: center;
    color: #005;
    font-size: 13px;
}

.my-carousel-item div{
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-carousel-item:hover {
    cursor: pointer;
    background-color: #e4e4e4;
    text-decoration: none;
}

.my-carousel .arrow {
    min-width: 32px;
    text-align: center;
    position: relative;
    background-color: #fff;
}

.my-carousel .arrow:hover {
    cursor: pointer;
    background-color: #e4e4e4;
}

.my-carousel .arrow i {
    font-size: 15px;
    position: absolute;
    margin: auto;
    padding: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
