.film .main-info{
    padding: 15px 0;
    display: flex;
}

.main-info .content{
    margin-left: 30px;

}

.content .general-info{
    margin-top: 30px;
    display: flex;
}

.content .film-name{
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: normal;
}

.content .original-name{
    padding-top: 6px;
    color: #666;
    font-size: 13px;
}

.film h4{
    text-align: left;
    font-size: 11px;
    color: #f60;
    font-weight: 600;
    margin: 0;
    padding: 6px 0;
}

.general-info .table-info{
    width: 430px;
}

.film .type{
    font-weight: 600;
    width: 119px;
    color: #f60;
    padding-left: 23px;
    font-size: 11px;
}

.table-info table{

    border-spacing: 2px;
    border-color: grey;
}

.table-info td{
    background-color: #f2f2f2;
    font-weight: 400;
    font-size: 11px;
    min-height: 14px;
    vertical-align: top;
    padding: 6px 0 6px 20px;
}

.table-info tr{
    border-bottom: 1px #999 dotted;
}

.film .description {
    padding: 15px 0;
    font-weight: 400;
    font-size: 13px;
}

.actor-list-info {
    display: flex;
    flex-direction: column;
}
