.go-up {
    z-index: 19;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    opacity: 0;
    background-color: #8a8a8a;
    transition: 150ms;
}

.go-up:hover {
    opacity: 1;
    cursor: pointer;
}

.background {
    position: absolute;
    left: 16px;
    width: 20px;
    height: 20px;
    background-color: #e6e6e6;
}

.background.up{
    top: 17px;
}

.go-up p {
    position: absolute;
    left: 37px;
    top: 17px;
    width: 63px;
    height: 21px;
    background-color: #d07437;
    text-align: center;
    font-size: 13px;
    text-shadow: #000 1px 1px 1px;
    color: #fff;
}

.button-up {
    z-index: 10;
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 25px;
    color: #f60;
}



.go-down {
    z-index: 19;
    position: fixed;
    left: 0;
    top: 56px;
    height: 100%;
    width: 50px;
    opacity: 0;
    background-color: #8a8a8a;
    /*transition: 150ms;*/
}

.go-down:hover {
    opacity: 1;
    cursor: pointer;
}

.background.down{
    top: 37px;
}

.button-down {
    z-index: 10;
    position: fixed;
    top: 91px;
    left: 15px;
    font-size: 25px;
    color: #f60;
}
