.list-info {
    display: block;
}

.list-info .list-info-item {
    border-bottom: 1px #999 dotted;
    color: #000;
    padding: 5px 0;
    display: flex;
}

.list-info-item .num {

    font-size: 12px;
    padding-top: 10px;
    margin-left: 15px;
    width: 30px;
}

.list-info-item .content {
    margin-left: 15px;
    width: 660px;
}

.content .film-name {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
}

.content .original-name {
    padding-top: 6px;
    color: #666;
    font-size: 13px;
}

.list-info-item .rating {
    margin-left: 15px;
    padding-top: 10px;
    font-weight: 600;
}

.list-info-item .date {
    color: #f60;
    padding-left: 10px;
    font-size: 15px;
}

.list-info-item:hover {
    cursor: pointer;
    background-color: #e6e6e6;
    text-decoration: none;
}