.list_instant_search{
    color: black;
    /*outline: none;*/
    /*background-color: black;*/
}

.list_instant_search {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 4px 16px;
}

.list_instant_search > div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 32px 0 16px;
}

.list_instant_search h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.list_instant_search h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    font-size: 12px;
    letter-spacing: normal;
    color: rgba(51,51,51,0.4);
}

.list_instant_search .rating {
    position: absolute;
    right: 16px;
    text-align: right;
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.list_instant_search:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    text-decoration: none;
}
