.list_short_info{
    width: 130px;
    height: 100%;
    text-align: left;
    margin-left: 30px;
    font-size: 11px;
    padding-right: 0;
}

.list_short_info ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list_short_info li{
    margin-bottom: 2px;
    color: #005;
    text-decoration: underline;
}

.list_short_info li:hover{
    cursor: pointer;
}
