.search.dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 100;
    z-index: 1;
}

.search .form-control{
    font-weight: 600;
}

.search .search-button {
    position: absolute;
    top: 50%;
    right: 2px;
    color: #ccc;
    border: 0;
    background: #f2f2f2;
    outline: none;
    transform: translateY(-50%);
}

.search Input {
    padding: 3px 29px 3px 5px;
    width: 500px;
    height: 30px;
    background: #f2f2f2;
}

.search Input:focus {
    background: #f2f2f2;
}

.search .search-dropdown-menu.dropdown-menu.show {
    transform: none !important;
    background: #ffffff;
    position: absolute;
    margin-top: 33px;
    width: 500px;
    box-shadow: 0 10px 20px -2px rgba(0,0,0,0.4);
}

.search .search-dropdown-menu:empty {
    display: none;
}