.trailers {
    text-align: center;
}

.trailers ul {
    list-style: none;
    margin: 0 0 8px 0;
}

.trailers li {
    margin: 0 10px;
    display: inline;
    font-size: 14px;
    color: #005;
    text-decoration: underline;
}

.trailers li:hover {
    cursor: pointer;
}
